// Place all the styles related to the api::carts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.cartMain {
    display: block;
    padding: 14px 18px 50%;
    line-height: 20px;
    min-width: 1000px;
    font-size: x-large;
}
.cartShow {
    display: flex;
    flex-direction: row;
    // justify-content: space-between;
}
.cartShoppingCart {
    width: 84%;
    padding-right: 20px;
}
.cartCheckout {
    padding: 20px 20px 15px 20px;
    background-color: white;
    min-width: 14%;
    width: auto;
}
.cartShoppingList{
    padding: 20px 20px 15px 20px;
    background-color: white;
}
.cartIem {
    margin-bottom: 14px;
    border-top: 2px solid rgb(233, 232, 232);
    padding-top: 10px;
}
.cartItemImg {
    width: 100%;
    // overflow: hidden;
    // height: 100%;
    max-width: 180px;
    aspect-ratio: 180 / 180;
    // max-height: 220px;
}
.cartEachItem {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.cartTitle{
    font-size: xx-large;
    font-weight: bold;
}
.cartPrice{
    font-weight: bold;
}
.checkoutSubTotal {
    display: flex;
    justify-content: flex-end;
    padding-top: 10px;
    border-top: 2px solid rgb(233, 232, 232);
}
.cartEachItem01{
    display: flex;
}
.cartCheckoutButton {
    border-radius: 20px;
    background-color: rgb(247, 227, 49);
    width: 100%;
    font-size: large;
    margin: 10px 0;
    padding: 2px 0;
}