// Place all the styles related to the api::carts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.cartMain {
  display: block;
  padding: 14px 18px 50%;
  line-height: 20px;
  min-width: 1000px;
  font-size: large;
}
.cartShow {
  display: flex;
  flex-direction: row;
  // justify-content: space-between;
}
.cartShoppingCart {
  width: 84%;
  padding-right: 20px;
}
.cartCheckout {
  padding: 20px 20px 15px 20px;
  background-color: white;
  min-width: 14%;
  width: auto;
}
.cartShoppingList {
  padding: 20px 20px 15px 20px;
  background-color: white;
}
.cartIem {
  margin-bottom: 14px;
  border-top: 2px solid rgb(233, 232, 232);
  padding-top: 10px;
}
.cartEachItemImgDiv {
  width: 180px;
  height: 180px;
  position: relative;
}
.cartItemImg {
  // width: 100%;
  // overflow: hidden;
  // height: 100%;
  max-width: 100%;
  max-height: 100%;
  bottom: -4444px;
  left: -4444px;
  margin: auto;
  position: absolute;
  right: -4444px;
  top: -4444px;
  // aspect-ratio: 180 / 180;
  // max-height: 220px;
}
.cartEachItem {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.cartTitle {
  font-size: x-large;
  font-weight: bold;
}
.cartPrice {
  font-weight: bold;
}
.checkoutSubTotal {
  display: flex;
  justify-content: flex-end;
  padding-top: 10px;
  border-top: 2px solid rgb(233, 232, 232);
}
.cartEachItem01 {
  display: flex;
}
.cartCheckoutButton {
  border-radius: 20px;
  background-color: rgb(247, 227, 49);
  width: 100%;
  margin: 10px 0;
  padding: 4px 5px;
  cursor: pointer;
}
.cartEachItemLink {
  color: black;
  text-decoration: none;
}
.cartDeleteItem {
  // color: blue;
  text-decoration: none;
  border-left: 2px solid rgb(207, 207, 207);
  padding: 0 5px;
  cursor: pointer;
  font-size: 11px;
}
.cartEachItemQt {
  display: flex;
  align-items: center;
  position: relative;
}
.cartEachItemQt1 {
  display: flex;
  padding: 5px;
  margin: 5px;
  font-size: medium;
  padding-right: 5px;
  background-color: rgb(240, 242, 242);
  box-shadow: 0 2px 5px rgba(15, 17, 17, 0.15);
  border-radius: 7px;
  border: 1px solid rgb(213, 217, 217);
}
.dropdownButton {
  width: 20px;
}
.cartEachItemQt1:hover {
  cursor: pointer;
  background-color: rgba(161, 161, 161, 0.5);
}
.cartEachItemDetail {
  position: relative;
}
.dropdowns {
  display: block;
  position: relative;
}
.itemQtyDropdown {
  cursor: pointer;
  padding: 2px 5px;
  margin: 5px;
  font-size: medium;
  padding-right: 5px;
  background-color: rgb(240, 242, 242);
  box-shadow: 0 2px 5px rgba(15, 17, 17, 0.15);
  border-radius: 7px;
  border: 1px solid rgb(213, 217, 217);
}
.itemQtyDropdownOption {
  z-index: 1;
  font-size: 13px;
  cursor: pointer;
  padding: 2px 10px;
  border: 0;
}
.itemQtyDropdownOption:last-child {
  border-top: 1px solid rgb(233, 232, 232);
}
.itemQtyDropdownOption:hover {
  background-color: rgba(240, 242, 242, 0.5);
}
.cartUpdateText{
    width: 100px;
    font-size: 13px;
    line-height: 19px;
    border-radius: 5px;
}
.cartUpdateButton {
  padding: 2px 5px;
  margin: 0 5px;
  border-radius: 7px;
  background-color: rgb(247, 227, 49);
}
// .shoppingCart {
//     display: flex;
//     flex-direction: row;
//     text-decoration: none;
// }
// .shoppingCartIcon{
//     height: 50px;
//     margin-top: -10px;
// }
// .shoppingCartText {
//     color: white;
//     font-size: large;
//     margin-left: -15px;
//     margin-top: 7px;
//     margin-right: 5px;
// }
