.eachItem{
    display: block;
    line-height: 40px;
    min-width: 1000px;
    max-width: 1500px;
    width: 100%;
    margin: 0 auto;
}

.eachItemFlex {
    display: flex;
    width: 100%;
}

.leftSession {
    display: flex;
    width: 100%;
    min-width: 400px;
}

.midSession {
    display: block;
    margin: 0 5%;
}

.midSessionBox {
    display: block;
}

.midSessionFlex {
    display: flex;
    flex-direction: column;
}

.rightSession {
    padding: 2.5%;
    border: 2px solid rgb(0, 95, 133);
    border-radius: 20px;
    display: block;
}

.rightSessionBox {
    display: block;
}

.rightSessionFlex {
    display: flex;
    flex-direction: column;
}

.itemimgs {
    max-width: 100px;
    display: grid;
    overflow: hidden;
    grid-template-rows: repeat(auto-fit, minmax(100px,100px));
}

.itemImgsGrid {
    grid-row: span 0 / auto;
}

.itemImgBlock {
    height: 100px;
    width: 100px;
    display: block;
    position: relative;
    overflow: hidden;
    background-color: white;
    border: 2px solid rgb(39, 158, 255);
}

.itemimg {
    width: 100%;
    max-height: none;
    max-width: 100%;
    bottom: -4444px;
    left: -4444px;
    margin: auto;
    position: absolute;
    right: -4444px;
    top: -4444px;
}

.itemImgBlock:hover {
    border: 2px solid orange;
}

.eachItemMainImg {
    background-color: white;
    display: block;
    position: relative;
    width: 100%;
    height: 600px;
    overflow: hidden;
}

.eachImgPit {
    // width: 100%;
    // min-width: 100%;
    max-height: 100%;
    max-width: 100%;
    bottom: -4444px;
    left: -4444px;
    margin: auto;
    position: absolute;
    right: -4444px;
    top: -4444px;
}

.itemDescrption {
    font-size: 24px;
}

.eachItemTitle {
    font-size: 24px;
    font-weight: bold;
}

.purchaseButton {
    border-radius: 25px;   
    background-color: orange;
}

.eachItemPrice {
    font-size: 24px;
}
.addCartButton {
    background-color: rgb(247, 227, 49);
    border-radius: 25px;
    cursor: pointer;
}
.cartEachItemDetail {
    display: block;
    margin-left: 10px;
}