// Place all the styles related to the api/items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.eachItem{
    display: flex;
    justify-content: space-between;
    margin: 8% 12.5% 0;
}

.grid-items {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(240px,1fr));
}

.mainPageSession {
    margin: 8% 12.5% 0;
    display: block;
    border: 2px solid black;
}

.gridItemImg{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

@media screen and (min-width: 600px){
    .gridItem{
        // margin: 2px;
        grid-row: span 2 / auto;
        grid-column: span 2 / auto;
    }    
}
