.mainPageSession {
    margin-top: 20%;
}
.grid-items {
    min-width: 600px;
    max-width: 1239px;
    margin: 0 auto;
    overflow: hidden;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(400px, 400px));
}
.gridItem {
    max-width: 1239px;
    grid-row: span 1 / auto;
    grid-column: span 1 / auto;
    height: 400px;
    min-height: 400px;
    padding: 10px;
}
.gridContent {
    background: white;
    height: 100%;
    position: relative;
    margin-bottom: 0;
    margin-top: 0;
    overflow: hidden;
    padding-top: 20px;
}
.gridImgBox {
    display: block;
    position: relative;
    flex-grow: 1;
    height: 275px;
    margin-bottom: 44px;
    padding: 0 20px;
}
.gridItemLink {
    height: 100%;
    width: 100%;
    text-align: center;
    display: block;
    position: relative;
    overflow: hidden;
}
.gridItemImg {
    width: 100%;
    max-height: none;
    max-width: 100%;
    bottom: -4444px;
    left: -4444px;
    margin: auto;
    position: absolute;
    right: -4444px;
    top: -4444px;
}
.itemTitle {
    display: block;
    text-align: center;
    font-size: 30px;
    margin: auto;
}
.zIndex {
    display: block;
    position: absolute;
    z-index: -1;
}
.mainPageImgBox {
    display: block;
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0);
}
.mainPageImg {
    overflow: hidden;
    max-width: 1500px;
    min-width: 1000px;
    width: 100%;
}