.allItems {
    margin: 0 auto;
    overflow: hidden;
}
.grid-items {
    max-width: 1480px;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    display: grid;
    place-items: center;
    row-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(33.33333%, 30%));
}
.gridItem {
    min-width: 80%;
    max-width: 400px;
    height: 380px;
    min-height: 380px;
    grid-row: span 1 / auto;
    grid-column: span 1 / auto;
}
.gridContent {
    background: white;
    height: 100%;
    position: relative;
    // margin-bottom: 0;
    // margin-top: 20px;
    overflow: hidden;
}
.gridImgBox {
    display: block;
    position: relative;
    flex-grow: 1;
    padding-top: 20px;
    height: 275px;
    margin: 0 20px 44px 20px;
}
.gridItemLink {
    // height: 100%;
    // width: 100%;
    // text-align: center;
    // display: block;
    // position: relative;
    // overflow: hidden;
    text-decoration: none;
    color: black;
    font-weight: 700;
}
.gridItemImg {
    max-width: 100%;
    max-height: 100%;
    bottom: -4444px;
    left: -4444px;
    margin: auto;
    position: absolute;
    right: -4444px;
    top: -4444px;
}
.itemTitle {
    display: block;
    text-align: center;
    font-size: 15px;
    margin: auto;
}
.gridItemPrice{
    display: block;
    text-align: center;
    font-size: 15px;
    margin: auto;
}
.mainPageImg {
    display: flex;
    justify-content: center;
    width: 100%;
    z-index: -1;
    margin-bottom: -50%;
    -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
    min-width: 1000px;
    // max-width: 1700px;
}
.homePage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    max-width: 1500px;
}