// Place all the styles related to the api/items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.eachItem{
    display: flex;
    justify-content: space-between;
    // padding: 5%;
    margin: 8% 10% 0;
    border: 2px solid black;
}

.grid-items {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(240px,1fr));
}

.mainPageSession {
    margin: 10% 12.5% 0;
    display: block;
    // border: 2px solid black;
}

.gridItemImg{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

@media screen and (min-width: 600px){
    .gridItem{
        // margin: 2px;
        grid-row: span 2 / auto;
        grid-column: span 2 / auto;
    }    
}

.leftLeftSession {
    border: 2px solid black;
    padding: 5%;
}

.leftSession {
    // border: 2px solid black;
    // padding: 5%;
    display: flex;
    // justify-content: flex-end;
}

.midSession {
    padding: 12.5% 10% 12.5%;
    border: 2px solid black;
}

.rightSession {
    padding: 5%;
    border: 2px solid black;
}

.itemimgs {
    // height: 100px;
    // grid-template-columns: repeat(autofit);
    border: 2px solid black;
}

.itemimg {
    display: grid;
    // grid-gap: 1rem;
    grid-template-rows: repeat(auto,100px);
    height: 40px;
    // background-color: white;
    border: 2px solid black;
}

.itemimg:hover {
    border: 2px solid orange;
}

.img {
    width: 500px;
    // height: auto;
}

.itemTitle {
    font-size: 40px;
}

.itemDescrption {
    font-size: 24px;
}