.mainPageSession {
    margin-top: 15%;
    width: 100%;
}
.allItems {
    margin: 0 auto;
    overflow: hidden;
}
.grid-items {
    max-width: 1480px;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    display: grid;
    place-items: center;
    row-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(33.33333%, 30%));
}
.gridItem {
    min-width: 80%;
    max-width: 400px;
    height: 380px;
    min-height: 380px;
    grid-row: span 1 / auto;
    grid-column: span 1 / auto;
}
.gridContent {
    background: white;
    height: 100%;
    position: relative;
    margin-bottom: 0;
    margin-top: 20px;
    overflow: hidden;
}
.gridImgBox {
    display: block;
    position: relative;
    flex-grow: 1;
    height: 275px;
    margin: 0 20px 44px 20px;
}
.gridItemLink {
    height: 100%;
    width: 100%;
    text-align: center;
    display: block;
    position: relative;
    overflow: hidden;
}
.gridItemImg {
    width: 100%;
    max-height: none;
    max-width: 100%;
    bottom: -4444px;
    left: -4444px;
    margin: auto;
    position: absolute;
    right: -4444px;
    top: -4444px;
}
.itemTitle {
    display: block;
    text-align: center;
    font-size: 30px;
    margin: auto;
}
.mainPageImgBox {
    display: flex;
    justify-content: center;
    position: absolute;
    overflow: hidden;
    left: 50%;
    transform: translate(-50%,0);
    min-width: 1000px;
    width: 100%;
    max-width: 1500px;
    z-index: -1;
}

.mainPageImg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    z-index: -1;
}