.reviewSession {
    display: flex;
    flex-direction: row;
    line-height: 40px;
    font-size: 24px;
    white-space: nowrap;
}
.requstingReview {
    display: block;
    padding-right: 10%;
}
.reviewThisProduct {
    font-size: 40;
    font-weight: bold;
}
.createReviewButton {
    font-size: 24px;
    padding: 1% 5% 1%;
    border-radius: 15px;
}
.allReviews {
    display: flex;
    flex-direction: column;
}
.eachUserReview {
    display: block;
    padding: 5% 5% 20% 5%;
    margin-bottom: 5%;
}
.eachReviewUsername {
    font-size: 40;
    font-weight: bold;
}
.permission {
    display: flex;
    justify-content: flex-start;
}
.permission button {
    font-size: 17px;
}
.textarea {
    resize: none;
    width: 100%;
}
.centeredForm {
    display: flex;
    flex-direction: column;
}
.reviewFormTitle{
    font-size: 35px;
    font-weight: bold;
    text-transform: capitalize;
}
.reviewForm {
    width: 768px;
    margin: 0 auto;
    line-height: 30px;
}
.reviewFormButton {
    background-color: orange;
    border-radius: 25px;
}
.cancelReviewButton {
    background-color: orange;
    border-radius: 25px;
}