.reviewSession {
  display: flex;
  flex-direction: row;
  font-size: 14px;
  line-height: 20px;
  white-space: nowrap;
  margin: 10px;
  justify-content: space-between;
}
.requstingReview {
  display: block;
  flex: 0.2;
}
.reviewThisProduct {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}
.createReviewButton {
  border-radius: 8px;
  width: 100%;
  height: 29px;
  border-radius: 7px;
  box-shadow: 0 2px 5px 0 rgba(213, 217, 217, 0.5);
  background-color: white;
  cursor: pointer;
}
.allReviews {
  flex: 0.74;
  display: flex;
  flex-direction: column;
  max-width: 80em;
}
.eachUserReview {
  display: block;
  margin-bottom: 5%;
}
.reviewUsernameSession {
  margin-bottom: 4px;
}
.reviewUserAvatar {
  padding-right: 9px;
  width: 43px;
}
.eachReviewUsername {
  font-size: 13px;
}
.rewviewTitle {
  font-weight: 700;
  font-size: 17px;
  margin-left: 10px;
}
.reviewButtons {
  background-color: white;
  font-size: 14px;
  line-height: 20px;
  width: 100px;
  border-radius: 8px;
  margin-right: 10px;
  cursor: pointer;
}
.permission {
  display: flex;
  justify-content: flex-start;
}
.reviewRaitingSession {
  display: flex;
  align-items: center;
}
.reviewBody{
  margin: 5px 0;
}
