// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.header {
    display: flex;
    color: white;
    background-color: black;
    padding-top: 1em;
    padding-bottom: 1em;
    justify-content: space-between;
    padding-left: 5px;
    padding-right: 5px;
    border-bottom: 2px solid white;
}

.header > .login-form-container {
    position: absolute;
    top: 33%;
    left: 50%;
    transform: translate(-49%, -49%);
}
