// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.header {
    display: flex;
    justify-content: space-between;
    position: absolute;
}

.header .login-form-container {
    top: 33%;
    left: 50%;
    transform: translate(-49%, -49%);
}